
.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 8px; 
  
  max-width: 408px; 
  margin: 0 auto;
  padding: 24px; 
  text-align: left; 
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif; 
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42; 
  margin-bottom: 8px; 
}

.feedback-form input,
.feedback-form textarea {
  width: 100%;
  padding: 8px 16px;
  margin-top: 8px; 
  
  border: 1px solid #808080; 
  border-radius: 4px;
  box-sizing: border-box; 
  
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  transition: border-color 0.3s;
  
  resize: none; 
}

.feedback-form input:hover,
.feedback-form textarea:hover {
  border-color: #000000; }

.feedback-form input:focus,
.feedback-form textarea:focus {
  outline: none;
  border-color: black; 
}

.feedback-form button[type="submit"] {
  display: block;
  min-width: 95px; 
  height: 40px;
  
  margin-top: 8px; 
  padding: 8px 16px;
  
  background-color: #4e75ff; 
  color: #fff;
  
  border: none;
  border-radius: 8px;
  
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  
  cursor: pointer;
  transition: background-color 0.3s;
}

.feedback-form button[type="submit"]:hover {
  background-color: black; 
}